{block content}
<section class="portfolio-single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>Zajímavé odkazy</h3>
                {control partners:exchangePage}
            </div><!-- End .col-xs-12 --> 
        </div><!-- End .row -->
    </div><!-- End .container -->
</section>
{/block}