{* This is the welcome page, you can delete it *}

{block content}
<!-- Section : About -->
<section id="about" class="section about-style2">
    <div class="container">

        <div class="section-title" >
            <h2>O mně</h2>
            <span class="border"></span>
            <p>
                <span>Jmenuji se Libor Vymětalík a je mi {$age} let. Od narození jsem bydlel v Lipníku nad Bečvou, ale nyní již několikátým rokem pracuji v Praze.</span>
            </p>
            <p>
                Od střední školy se věnuji tvorbě webových stránek. K tvorbě nejčastěji využívám programovací jazyk PHP (Nette), HTML, CSS (SASS), JavaScript (TypeScript). Data většinou ukládám do databázového systému MySQL. Design stránek je ve většině případů postaven na zakoupené šabloně, postavené na frameworku Bootstrap 3.x.
            </p>							
        </div><!-- end .section-title -->

        <div class="row">
            <div class="col-md-4">
                <img src="{$basePath}/img/profile.jpg" alt="Libor Vymětalík" class="img-responsive">
            </div><!-- end .col-md-4 -->
            <div class="col-md-4">
                <div class="about-info">
                    <div class="info-title">
                        <p>Jméno</p>
                        <p>Přezdívka</p>
                        <p>Datum narození</p>
                        <p>Telefon</p>
                        <p>Email</p>
                        <p>Webová stránka</p>
                    </div> <!-- end .info-title -->
                    <div class="info-details">
                        <p>: Ing. Libor Vymětalík</p>
                        <p>: vymak</p>
                        <p>: 07/04/1990 ({$age} let)</p>
                        <p>: (+420) 728 824 148</p>
                        <p>: l.vymetalik@vymakdevel.cz</p>
                        <p>: <a href="{$baseUri}">{$baseUri}</a></p>
                    </div><!-- end .info-details -->					
                    <a style="margin-top: 15px" href="{$basePath}/files/CV.pdf" class="mt-button large btn"><i class="fa-download"></i><span>Stáhnout životopis</span></a>
                </div> <!-- end .about-info -->
            </div> <!-- end .col-md-4 -->
            <div class="col-md-4">
                <div class="about-extra">
                    <h4>KONÍČKY a ZÁJMY</h4>
                    <div class="about-extra-icon-style2">
                        <ul>
                            <li>
                                <p><i class="fa-headphones"></i><br><span>Hudba</span></p>
                            </li>
                            <li>
                                <p><i class="fa-gamepad"></i><br><span>Hry</span></p>
                            </li>
                            <li>
                                <p><i class="fa-plane"></i><br><span>Cestování</span></p>
                            </li>
                            <li>
                                <p><i class="fa-windows8"></i><br><span>Windows</span></p>
                            </li>
                            <li>
                                <p><i class="fa-video-camera"></i><br><span>Filmy</span></p>	
                            </li>
                            <li>
                                <p><i class="fa-folder-open"></i><br><span>Počítače</span></p>
                            </li>
                            <li>
                                <p><i class="fa-money"></i><br><span>Peníze</span></p>
                            </li>
                            <li>
                                <p><i class="fa-bitbucket"></i><br><span>Vývoj</span></p>
                            </li>
                        </ul>
                    </div> <!-- end .about-extra-icon -->
                </div><!-- end .about-extra -->				
            </div><!-- end .col-md-8 -->	
        </div><!-- end .col-md-row -->
    </div><!-- end .container -->
</section>
<!-- Section : About end -->

<!-- Section : Resume -->
<section id="resume" class="section">
    <div class="container">

        <div class="section-title">
            <h2>Shrnutí</h2>
            <span class="border"></span>
        </div><!-- end .section-title -->

        <div class="row">
            <div class="col-md-12">
                <div class="timeline">

                    <!-- Experience Timeline -->

                    <div class="timeline-category exp-category">
                        <a class="large bt-timeline">Pracovní zkušenosti</a>
                        <div class="timeline-category-icon">
                            <div class="iconspace"><i class="fa-folder-open"></i></div>
                        </div> <!-- /.timeline-category-icon end -->
                    </div> <!-- /.timeline-category end -->

                    <div class="timeline-post timeline-post-left">
                        <div class="timeline-post-content-holder">
                            <div class="timeline-post-icon"></div>
                            <div class="timeline-post-title">
                                <h4>Webový vývojář</h4>
                            </div>
                            <div class="timeline-post-subtitle">
                                <p><span>Market Vision s.r.o. </span><span class="timeline-duration">09/2015 - dosud</span></p>
                            </div>
                            <div class="timeline-post-content">
                                <p>Údržba a vývoj webové aplikace Spring, sloužící pro sběr dat od mystery shopperů. Práce v PHP a Nette Frameworku</p>
                            </div>
                        </div> <!-- /.timeline-post-content-holder end -->
                    </div>

                    <div class="timeline-post timeline-post-right">
                        <div class="timeline-post-content-holder">
                            <div class="timeline-post-icon"></div>
                            <div class="timeline-post-title">
                                <h4>Webový vývojář</h4>
                            </div>
                            <div class="timeline-post-subtitle">
                                <p><span>RELIGIS s.r.o. </span><span class="timeline-duration">06/2014 - 09/2014</span></p>
                            </div>
                            <div class="timeline-post-content">
                                <p>Vývoj především v jazyce PHP + HTML. Práce s MySQL databázemi. Drobný vývoj i v Nette frameworku.</p>
                            </div>
                        </div> <!-- /.timeline-post-content-holder end -->
                    </div>

                    <div class="timeline-post timeline-post-left">
                        <div class="timeline-post-content-holder">
                            <div class="timeline-post-icon"></div>
                            <div class="timeline-post-title">
                                <h4>Webový vývojář + SEO</h4>
                            </div>
                            <div class="timeline-post-subtitle">
                                <p><span>Webdevel s.r.o. </span><span class="timeline-duration">06/2012 - 01/2013</span></p>
                            </div>
                            <div class="timeline-post-content">
                                <p>Optimalizace webových stránek pro vyhledávače (onpage, offpage). Vytváření několika pluginů do Wordpressu. Tvorba e-learningového systému v PHP frameworku Yii.</p>
                            </div>
                        </div> <!-- /.timeline-post-content-holder end -->
                    </div> <!-- /.timeline-post end -->

                    <div class="timeline-post timeline-post-right">
                        <div class="timeline-post-content-holder">
                            <div class="timeline-post-icon"></div>
                            <div class="timeline-post-title">
                                <h4>Servis PC</h4>
                            </div>
                            <div class="timeline-post-subtitle">
                                <p><span>MITRANET.CZ, s.r.o. </span><span class="timeline-duration">06/2010 - 09/2010</span></p>
                            </div>
                            <div class="timeline-post-content">
                                <p>Servis výpočetní techniky. Instalace a konfigurace hardwarového a softwarového vybavení. Pomocné instalační práce při připojování nových zákazníků k internetovému připojení.</p>
                            </div>
                        </div> <!-- /.timeline-post-content-holder end -->
                    </div> <!-- /.timeline-post end -->

                    <!-- Experience Timeline  end -->

                    <!-- Education Timeline -->
                    <div class="timeline-category edu-cagegory">
                        <a class="large bt-timeline">Vzdělání</a>
                        <div class="timeline-category-icon">
                            <div class="iconspace"><i class="fa-book"></i></div>
                        </div> <!-- /.timeline-category-icon end -->
                    </div> <!-- /.timeline-category end -->
                    <div class="timeline-post timeline-post-left">
                        <div class="timeline-post-content-holder">
                            <div class="timeline-post-icon"></div>
                            <div class="timeline-post-title">
                                <h4>Navazující studium</h4>
                            </div>
                            <div class="timeline-post-subtitle">
                                <p><span>VŠB — TUO, Ostrava </span><span class="timeline-duration">09/2012 - 06/2015</span></p>
                            </div>
                            <div class="timeline-post-content">
                                <p>Studíjní obor <em>Informatika a výpočetní technika</em>, studíjní program <em>Informační a komunikační technologie</em>.</p>
                            </div>
                        </div> <!-- /.timeline-post-content-holder end -->
                    </div> <!-- /.timeline-post end -->
                    <div class="timeline-post timeline-post-right">
                        <div class="timeline-post-content-holder">
                            <div class="timeline-post-icon"></div>
                            <div class="timeline-post-title">
                                <h4>Bakalářské studium</h4>
                            </div>
                            <div class="timeline-post-subtitle">
                                <p><span>VŠB — TUO, Ostrava </span><span class="timeline-duration">09/2009 - 06/2012</span></p>
                            </div>
                            <div class="timeline-post-content">
                                <p>Studíjní obor <em>Informatika a výpočetní technika</em>, studíjní program <em>Informační a komunikační technologie</em>.</p>
                            </div>
                        </div> <!-- /.timeline-post-content-holder end -->
                    </div> <!-- /.timeline-post-left end -->
                    <div class="timeline-post timeline-post-left">
                        <div class="timeline-post-content-holder">
                            <div class="timeline-post-icon"></div>
                            <div class="timeline-post-title">
                                <h4>Středoškolské studium</h4>
                            </div>
                            <div class="timeline-post-subtitle">
                                <p><span>Střední škola elektrotechnická, Lipník nad Bečvou </span><span class="timeline-duration">09/2005 - 06/2009</span></p>
                            </div>
                            <div class="timeline-post-content">
                                <p>Obor informační technologie. Detailní popis <a href="http://www.sse-lipniknb.cz/moznosti-studia/index.php?page=informacni-technologie">oboru</a>.</p>
                            </div>
                        </div> <!-- /.timeline-post-content-holder end -->
                    </div> <!-- /.timeline-post end -->

                    <!-- Education Timeline -->

                    <div class="timeline-end-icon"><span> <i class="fa-bookmark"></i></span></div>
                </div><!-- end .timeline -->
            </div><!-- end .col-md-12 -->

        </div><!-- end .row -->
    </div><!-- end .container -->					
</section>
<!-- Section : Resume end -->

<!-- Section : Portfolio -->
<section id="portfolio" class="section">
    <div class="container">

        <div class="section-title">
            <h2>Portfolio</h2>
            <span class="border"></span>
        </div><!-- end .section-title -->

        <div class="row">
            <!-- #options -->
            <div id="options" class="clearfix">
                <ul id="filters" class="option-set clearfix" data-option-key="filter">
                    <li><a href="#filter" data-option-value="*" class="selected">všechny projekty</a></li>
                    <li><a href="#filter" data-option-value=".webdesign">webové stránky</a></li>
                </ul>
            </div> 
            <!-- #options end-->
        </div> <!-- End .row -->
        <div class="row">
            <!-- Portfolio container -->
            <div class="portfolio-container">


                <div class="col-xs-12 col-sm-6 col-md-4 mt webdesign">
                    {control portfolioList}
                </div><!-- end .col-xs-12 col-sm-6 col-md-4 -->                        
            </div><!-- End .portfolio-container -->

            <!-- Portfolio container End-->
        </div><!-- End .row -->

    </div><!-- end .container --> 
</section>	
<!-- Section : Portfolio end -->
{/block}

{block header}
<section id="home" class="home-parallax" data-stellar-background-ratio="0.6" data-stellar-vertical-offset="20">
    <div class="home-overlay-v2">   
        <div class="container">
            <div class="col-md-12">

                <div class="info">
                    <h2>LIBOR VYMĚTALÍK</h2>
                    <h3>WEBDEVELOPER</h3>
                </div><!-- end .info -->

                <ul class="social">
                    <li><a target="_blank" class="facebook" href="https://www.facebook.com/vymak"></a></li>
                    <li><a target="_blank" class="twitter" href="https://twitter.com/vymakl"></a></li>
                    <li><a target="_blank" class="linkedin" href="https://www.linkedin.com/profile/view?id=195594515&trk=nav_responsive_tab_profile_pic"></a></li>
                    <li><a target="_blank" class="google" href="https://plus.google.com/+LiborVym%C4%9Btal%C3%ADk"></a></li>				
                    <li><a target="_blank" class="github" href="https://bitbucket.org/vymak/"></a></li>
                    <li><a target="_blank" class="skype" href="skype:vymetalik.libor@hotmail.cz"></a></li>
                </ul><!-- end .social -->
            </div><!-- end .col-md-12 -->
        </div><!-- end .cotainer -->
    </div><!-- end .home-overlay -->
</section>
{/block}

{block scripts}
{include parent}
{/block}


{block head}
{/block}
