{snippet form}

    <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
        {$flash->message|noescape}
    </div>

    {form contactForm}
        <ul class=error n:if="$form->ownErrors">
            <li n:foreach="$form->ownErrors as $error">{$error}</li>
        </ul>

        {input name}
        {input email}
        {input message}
        <br />

        {input send}
    {/form}
{/snippet}