<div class="project-item" n:foreach="$portfolio as $item">

    {capture $path}
        {$item->title|thumbnails, $item->name, 360, 339}
    {/capture}
    
    <div class="project-image">
        <a href="{plink Portfolio:view $item->name}">
            <img src="{$basePath}/img/thumbnails/{trim($path)}" alt="{$item->name}" />
            <div class="overlay">
                <div class="details">
                    <h2>{$item->title}</h2>
                    <p>{$item->description|striptags|truncate:150}</p>
                </div>
            </div>
        </a>
    </div><!-- end .project-image -->
</div><!-- end .project-item -->