{block content}
<section class="portfolio-single">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h3>{$model->title}</h3>
                <div id="blog-carousel" class="owl-carousel owl-theme">
                    {foreach $model->portfolioImages as $image}
                        {capture $path}
                            {$image->image|image, 1100, 856}
                        {/capture}
                        <div class="item"><img class="img-responsive" src="{$basePath}/img/gallery/{trim($path)}.jpg" alt="" /></div>
                    {/foreach}
                </div>
                <br><br><br>
            </div><!-- End .col-xs-12 --> 
        </div><!-- End .row -->
        <div class="row">    
            <div class="col-xs-6">
                {$model->description|noescape}
            </div><!-- End .col-xs-6 --> 
            <div class="col-xs-6">
                <ul class="item-meta">
                    <li><strong>Datum - </strong>{$model->date|date:'m/Y'}</li>
                    <li><strong>Použité technologie - {$model->technologyString}</strong></li>
                </ul>

                {if strlen($model->link) !== 0}
                    <a href="{$model->link}" class="btn" target="_blank">Stránka projektu</a>
                {/if}
            </div><!-- End .col-xs-6 --> 
        </div><!-- End .row -->
    </div><!-- End .container -->
</section>
{/block}