<!DOCTYPE html>
<!--[if lt IE 7 ]><html class="ie ie6" lang="en"> <![endif]-->
<!--[if IE 7 ]><html class="ie ie7" lang="en"> <![endif]-->
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!-->
<html class="not-ie" lang="en">
    <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="MD - Responsive Personal Resume / Portfolio template" />
        <meta name="keywords" content="MD - Responsive Personal Resume / Portfolio template"/>
        <meta name="author" content="Metrothenes" />

        <title>VymakDevel.cz</title>
        <!--Fav and touch icons-->
        <link rel="shortcut icon" href="{$basePath}/favicon.ico">
        <link rel="apple-touch-icon" href="{$basePath}/img/icons/apple-touch-icon.png">
        <link rel="apple-touch-icon" sizes="72x72" href="{$basePath}/img/icons/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="114x114" href="{$basePath}/img/icons/apple-touch-icon-114x114.png">
        <!--[if lt IE 9]><script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

        <!--style sheet-->
        <link rel="stylesheet" media="screen" href="{$basePath}/css/bootstrap.css"/>
        <link rel="stylesheet" href="{$basePath}/css/font-awesome/font-awesome.min.css"/>
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/fontello/css/fontello.css"/>
        <link rel="stylesheet" media="screen" href="{$basePath}/css/styles.css"/>
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/animate.css"/>
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/owl.carousel.css"/>
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/owl.theme.css"/>
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/responsive.css"/>
        <link rel="stylesheet" href="{$basePath}/css/colors/color-emerald.css" title="emerald">
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800">
        <link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Raleway:400,100,200,300,500,600,700,800,900' >
        <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Arizonia">
        <link rel="stylesheet" type="text/css" href="{$basePath}/css/custom.css"/>
    </head>
    <body>
        <!-- Preloader -->
        <div class="mask">
            <div class="loader-item fa fa-spin loader-color">
            </div>
        </div>
        <!-- Preloader end -->
        <!-- Section : Home -->
        {block header}
        {/block}
        <!-- Section : Home end -->
        <!-- Header -->
        <div class="main-menu-continer">
            <nav id="main-menu" class="navbar navbar-default">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Navigace</span>
                            <i class="fa fa-navicon"></i>
                        </button>
                        <!-- Logo -->
                        <a href="{$baseUri}" class="header-logo">
                            <img src="{$basePath}/img/logo-2.png" alt="Logo" style="padding-top: 22px;">
                        </a> 
                        <!-- Logo -->
                    </div><!-- End .navbar-header -->


                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <!-- Navigation -->
                        <ul class="nav navbar-nav" id="navs">
                            <li class="active"><a href="{link Homepage:}#home" class="colapse-menu1">Domů</a></li>
                            <li><a href="{link Homepage:}#about" class="colapse-menu1">O mně</a></li>
                            <li><a href="{link Homepage:}#resume" class="colapse-menu1">Shrnutí</a></li>
                            <li><a href="{link Homepage:}#portfolio" class="colapse-menu1">Portfolio</a></li>
                            <!--<li><a n:href="Blog:" class="colapse-menu1">Blog</a></li>-->
                            <li><a href="#contact" class="colapse-menu1">Kontakt</a></li>
                            <li><a target="_blank" href="https://bitbucket.org/vymak/vymakdevelcz" title="Repozitář na Bitbucket obsahující zdrojové kódy této aplikace">Kód</a></li>
                        </ul>
                        <!-- Navigation End -->
                    </div><!-- End .collapse -->
                </div><!-- End .container -->
            </nav><!-- End #main-menu -->
        </div>
        <!-- Header End -->

        {snippet flashes}
            <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type}">
                {$flash->message|noescape}
            </div>
        {/snippet}

        {include #content}

        <!-- Section : Contact -->
        <section id="contact" class="section">
            <div class="container">

                <div class="section-title">
                    <h2>Kontaktujte mě</h2>
                    <span class="border"></span>
                </div><!-- end .section-title -->


                <div class="row">
                    <div class="col-md-6">
                        <h2>KONTAKTNÍ ÚDAJE</h2>
                        <ul class="get_in">
                            <li><i class="fa fa-envelope-o"></i><p>l.vymetalik@vymakdevel.cz</p></li>
                            <li><i class="fa fa-phone"></i><p>(+420) 728 824 148</p></li>				
                            <li><a href="{$basePath}/files/vCard.vcf"><i class="fa fa-cloud-download"></i><p>Stáhnout vCard</p></a></li>	
                        </ul><!-- end .get_in -->
                    </div><!-- end .col-md-6 -->
                    <div class="col-md-6">
                        {*<h2>NAPIŠTE MI ZPRÁVU</h2>*}
                        <!-- contact from -->
                        {*{control contactForm}*}
                    </div><!-- end .col-md-6 -->

                </div><!-- end .row -->
            </div><!-- end .container -->
        </section>
        <!-- Section : Contact end -->

        <!-- Footer -->
        <footer>
            <div class="footer-widgets">
                <div class="container">
                    <div class="row">

                        <div class="col-md-4 col-xs-12">
                        </div><!-- end .col-md-4 col-xs-12 -->

                        <div class="col-md-8 col-xs-12">
                            <h4>Zajímavé odkazy <small>(<a style="color: #EEE" n:href="Partners:">Spřátelené weby</a>)</small></h4>
                            {control partners}
                        </div><!-- end .col-md-4 col-xs-12 -->

                    </div><!-- end .row -->
                </div><!-- end .container -->		        	
            </div><!-- end .footer-widgets -->

            <div class="footer-bottom">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-xs-12">
                            <p class="copyright">&copy; Copyright {date('Y')} <a href="{$baseUri}">VymakDevel.cz</a></p>
                        </div><!-- end .col-md-6 col-xs-12 -->
                        <div class="col-md-6 col-xs-12">
                            <ul class="social">
                                <li><a target="_blank" class="facebook" href="https://www.facebook.com/vymak"></a></li>
                                <li><a target="_blank" class="twitter" href="https://twitter.com/vymakl"></a></li>
                                <li><a target="_blank" class="linkedin" href="https://www.linkedin.com/profile/view?id=195594515&trk=nav_responsive_tab_profile_pic"></a></li>
                                <li><a target="_blank" class="google" href="https://plus.google.com/+LiborVym%C4%9Btal%C3%ADk"></a></li>				
                                <li><a target="_blank" class="github" href="https://www.bitbucket.org/vymak"></a></li>
                                <li><a target="_blank" class="skype" href="skype:vymetalik.libor@hotmail.cz"></a></li>
                            </ul><!-- end .social -->		                        
                        </div><!-- end .col-md-6 col-xs-12 -->
                    </div><!-- end .row -->
                </div><!-- end .container -->
            </div><!-- end .footer-bottom -->
        </footer>
        <!-- Footer end -->

        <!--JavaScript-->
        {control jsLibs}
        {control jsNetteFiles}

        <!-- Scroll Top -->
        <a class="scroll-top" href="#" title="Scroll to top"><i class="fa-chevron-up"></i></a>
    </body>
</html>