{if count($partners) > 0}
    <ul>
	<li n:foreach="$partners as $item">
	    <a href="{$item->web}" title="{$item->title}">
		{$item->title}
	    </a>
	</li>
    </ul>
{else}
    <p>Momentálně nejsou dostupní žádní partneři k zobrazení</p>
{/if}